<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/excel?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.pool_size">50</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping resource="app/admin/Mailinglistclient.hbm.xml"/>
    <mapping resource="app/admin/MailingList.hbm.xml"/>
    <mapping resource="app/admin/Mailinglistvendor.hbm.xml"/>
    <mapping resource="app/admin/MailingListClient.hbm.xml"/>
    <mapping resource="app/admin/Mailinglist.hbm.xml"/>
    <mapping resource="app/admin/MailingListVendor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
